@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-black{
  color: #000 !important;
}

.font-b{
  font-weight: 700;
}

.overflowY-scroll{
  overflow-x: hidden;
  overflow-y: scroll !important;
}

.maxHeight-60vh{
  height: 60vh;
}

.height-82vh{
  height: 82vh;
}

@media only screen and (min-width: 992px){
  .logo{
    top: 50%;
    transform: translateY(-50%);
  }
}